@font-face {
    font-family: 'LibreFranklin-Regular';
    src:  url('fonts/librefranklin/LibreFranklin-Regular.ttf') format('ttf'),
    url('fonts/librefranklin/LibreFranklin-Regular.ttf') format('ttf');
}
body {
    font-family: 'LibreFranklin-Regular', Arial, sans-serif;
    font-weight: 400;
    margin:0;
    padding: 0;
    width: 100%;
    background: #d0d6d6;
    color: #404d5b;
}
div#todo-app {
    margin: 0 auto;
    padding: 3em 0 1em;
    width: 70%;
    font-size: 150%;
    text-align: center;
    background: inherit;
    overflow: hidden;
}
div#todo-app h1 {
    text-transform: capitalize;
    margin: 0 0 1em;
    opacity: 0.3;
}
form#todo-form {
    position: relative;
    overflow: hidden;
}
input#todo.todo-field {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    padding: 0.5em 0;
    margin-bottom: 2em;
    font-size: 1em;
    background: transparent;
    color: #f18292;
    border: none;
    border-radius: 0;
}
label.todo-label {
    width: 100%;
    position: absolute;
    display: inline-block;
    float: right;
    padding: 0.625em 0 0.3125em;
    text-align: left;
    font-weight: bold;
    font-size: 1em;
    pointer-events: none;
    color: #8E9191;
}
label.todo-label::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.3125em;
    background: #8E9191;
    left: 0;
    top: 100%;

}
ul#update {
    margin: 0 auto;
    padding: 0;
    width: 70%;
}
ul li {
    position: relative;
    padding:  0.75em 0.5em  0.75em 2.5em;
    background: #eee;
    font-size: 1.125em;
    transition: 0.2s;
    cursor: pointer;
    list-style: none;
    color: #f18292;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
ul li:nth-child(odd) {
    background: #f9f9f9;
}
ul li:hover {
    background: #ddd;
}
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.75em 1em 0.75em 1em;
}
.close:hover {
    background-color: #f18292;
    color: white;
}